@import "@styles/main.scss";

.tasklistContainer {
  font-family: $platform-font;
  height: calc(100vh - 3.28rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .noTasks {
    height: 80%;
  }

  .textButtonContainer {
    height: 10%;

    input[type="text"] {
      border: 1px solid #ccc;
      outline: 0;
      border-radius: 4px;
    }

    button {
      margin-left: 0.6rem;
    }
  }

  .list {
    width: 70%;
    height: 80%;
    border: 1px solid $primary-color;
    overflow: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem 0.8rem;

        &:first-child {
          border-bottom: 1px solid $tertiary-color;
          position: sticky;
          top: 0;
          background-color: #fff;
          z-index: 100;
        }

        div:nth-child(2) {
          width: 60%;
        }

        span {
          width: 3rem;
          margin: 0 0.3rem;

          button {
            width: 3rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
