// Import Google Fonts URL
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

// Platform Font
$platform-font: "Poppins", sans-serif;

// Color Variables
$primary-color: #4424d6;
$secondary-color: #8601af;
$tertiary-color: #c21460;

// Font Variables
$primary-font: 1rem;
$secondary-font: 1.5rem;
$tertiary-font: 2rem;
$base-font-size: 16px; // Set your base font size

// Mixins/functions
