@import "../../styles/main.scss";
.about {
  h2 {
    text-align: center;
  }
  ul {
    li {
      list-style: circle;
      h3 {
        margin-bottom: 0;
      }
      p {
        margin: 0 1.55rem;
      }
    }
  }
}
