@import "./styles/base.scss";
.appContainer {
  font-family: $platform-font;
  border: 1px solid $secondary-color;
  height: calc(100vh - 1.25rem);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(176, 229, 208, 1) 42%,
    rgba(92, 202, 238, 0.41) 93.6%
  );
}
