@import "../../styles/base.scss";
.headerContainer {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $primary-font;
  border-bottom: 1px solid $tertiary-color;
}
