@import "@styles/main.scss";

.headerContainer {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-one;
  border-bottom: 2px solid $color-primary;

  padding: 0.8rem 1rem;

  .heading {
    a {
      text-decoration: none;
      h2 {
        font-size: $font-six;
        display: flex;
        align-items: center;
        color: $color-secondary;
      }
    }
  }

  .link {
    font-size: $font-six;
    text-decoration: none;
    margin-left: 10px;
    color: $color-secondary;
  }

  .userName {
    font-size: $font-six;
    color: $color-secondary;
  }
}
